html {
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: 16px;
    color: #ff6f61;
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: #ff6f61;
    font-weight: 500;
  }
  a:hover, a:active {
    background-color: rgb(247, 216, 221);
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .left {
    padding: 30px 20px;
  }

  .left h1 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-left: 45px;
    text-align:left;
  }

  .left p {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .right {
    position: relative;
    height: 300px;
  }

  .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 40px;
    color: #ff6f61;
    font-weight: bold;
  }

  .bookmarks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    text-align: center;
  }
  .bookmarks a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

h1 {
  
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.card {
  align-items: center;
  border-radius: 15px;
  border: 1px solid #ff6f61;
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  background: rgb(247, 216, 221);
}

.icon {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.info {
  font-size: 16px;
}

  /* Larger screens */
  @media (min-width: 768px) {
    .main {
      flex-direction: row;
      height: calc(100vh - 80px);
    }

    .left, .right {
      width: 50%;
    }

    .left {
      padding: 60px;
    }

    .left h1 {
      font-size: 48px;
    }

    .overlay-text {
      font-size: 60px;
    }

    .right {
      height: auto;
    }
  }

